@use "../variables" as *;

.dw-ac-attack {
  @include flex-center;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem;
  border: 1px solid $color-border-light-1;

  &__armor {
    @include flex-center;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;

    input {
      border: none;
      text-align: center;
      font-size: 2rem;
      padding: 0.3rem;
      height: 2rem;
    }
  }
  &__attack {
    @include flex-center;
    flex-direction: column;
    font-size: 0.75rem;
    text-align: center;
    input {
      border: none;
      text-align: center;
      font-size: 0.75rem;
      height: 1.2rem;
      width: 1.5rem;
    }
  }
}
