@use "../common" as *;

.dw-hp {
  @include flex-center;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.1rem;
  border: none;
  border-right: 1px solid $color-border-soft;

  &__current {
    @include flex-center;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;

    input {
      border: none;
      text-align: center;
      font-size: 2rem;
      padding: 0.3rem;
      height: 2rem;
    }
  }
  &__max {
    @include flex-center;
    flex-direction: column;
    font-size: 0.75rem;
    text-align: center;
    input {
      border: none;
      text-align: center;
      font-size: 0.75rem;
      height: 1.2rem;
    }
  }
}
