@use "../variables" as *;

.player-data {
  display: flex;
  flex-direction: column;
  align-items: start;

  .dw-field {
    border-bottom: 1px solid $color-border-main;
    width: 100%;
  }

  &__name {
    .editable-field,
    .edit-input {
      font-size: 1.75rem;
      font-weight: 600;
    }
  }
}
