@use "../common" as *;

.dw-skills {
  display: flex;
  gap: 0.5rem;

  .dw-skill {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      border: none;
      height: 1.5rem;
    }

    button {
      display: flex;
      padding: 0rem 0.5rem;
      font-size: 0.75rem;
      height: 1.5rem;
      border: 1px solid $color-border-main;
    }
  }
}
