<div class="dw-block-head">
    <h2>{{localize "DOLMENWOOD.UI.KindredClassTraits"}}</h2>
</div>
<div class="dw-kindred-traits-display">
    <div class="dw-traits-content">{{ctx.dw.meta.kindredClassTraits}}</div>
</div>
<textarea name="dw.meta.kindredClassTraits" class="dw-kindred-traits-textarea" rows="3" style="display: none;">{{ctx.dw.meta.kindredClassTraits}}</textarea>
