<div class="dw-block-head">
  <h3>{{localize "DOLMENWOOD.UI.KindredClassTraits"}}</h3>
</div>
<div
  class="dw-kindred-traits-editable contenteditable"
  contenteditable="plaintext-only"
  data-field="kindredClassTraits"
>{{~ctx.dw.meta.kindredClassTraits~}}</div>