<div class="dw-block-head">
  <h2>
    <span class="dw-kindred-traits__title dw-kindred-traits__title--traits">
      {{localize "DOLMENWOOD.UI.KindredClassTraits"}}
    </span>
    <span class="dw-kindred-traits__title dw-kindred-traits__title--notes">
      {{localize "DOLMENWOOD.UI.Notes"}}
    </span>
  </h2>
</div>
<div class="dw-kindred-traits-editor dw-editor">
  {{editor
    ctx.dw.meta.kindredClassTraits
    target="flags.yakov-dolmenwood-sheet.dw.meta.kindredClassTraits"
    button=true
    engine="prosemirror"
    collaborate=false
    owner=ctx.owner
    editable=ctx.editable
    classes="dw-kindred-traits-editor__input"
  }}
</div>