@forward "variables";
@use "variables" as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

@mixin input-base {
  border: none;
  background: none;
}

.mt0 {
  margin-top: 0;
}
.mt1 {
  margin-top: 0.5rem;
}
.mt2 {
  margin-top: 1rem;
}
.mt3 {
  margin-top: 1.5rem;
}
.mt4 {
  margin-top: 2rem;
}
.mt5 {
  margin-top: 2.5rem;
}

.mr0 {
  margin-right: 0;
}
.mr1 {
  margin-right: 0.5rem;
}
.mr2 {
  margin-right: 1rem;
}
.mr3 {
  margin-right: 1.5rem;
}
.mr4 {
  margin-right: 2rem;
}
.mr5 {
  margin-right: 2.5rem;
}

.mb0 {
  margin-bottom: 0;
}
.mb {
  margin-bottom: var(--mb, 0);
}
.mb1 {
  margin-bottom: 0.5rem;
}
.mb2 {
  margin-bottom: 1rem;
}
.mb3 {
  margin-bottom: 1.5rem;
}
.mb4 {
  margin-bottom: 2rem;
}
.mb5 {
  margin-bottom: 2.5rem;
}

.ml0 {
  margin-left: 0;
}
.ml1 {
  margin-left: 0.5rem;
}
.ml2 {
  margin-left: 1rem;
}
.ml3 {
  margin-left: 1.5rem;
}
.ml4 {
  margin-left: 2rem;
}
.ml5 {
  margin-left: 2.5rem;
}

.mx0 {
  margin-left: 0;
  margin-right: 0;
}

.mx1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.m0 {
  margin: 0;
}
.m1 {
  margin: 0.5rem;
}
.m2 {
  margin: 1rem;
}
.m3 {
  margin: 1.5rem;
}
.m4 {
  margin: 2rem;
}
.m5 {
  margin: 2.5rem;
}
