@use "common" as *;
@use "parts/abilities" as *;
@use "parts/save-targets.scss" as *;
@use "parts/hit-points.scss" as *;
@use "parts/ac-attack.scss" as *;
@use "parts/player-data.scss" as *;
@use "parts/movement.scss" as *;

.dolmenwood {
  max-width: 45rem;
}

button {
  border: none;
  border-radius: 0;
}

hr {
  border: none;
  border-top: 1px solid $color-border-soft;
}

.dw-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.dw-grid-3 {
  display: grid;
  grid-template-columns: 1fr 65% 1fr;
  gap: 1rem;
}

.dw-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.dw-field {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;

  label {
    font-size: 0.75rem;
    color: $color-text-light-6;
    text-transform: uppercase;
    padding-top: 0.2rem;
  }

  input {
    @include input-base;
    padding: 0.1rem;

    &[type="number"] {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

.dw-header {
  padding: 1rem;
}

.dw-block {
  padding: 0.2rem 1rem;
  &--flat {
    padding: 0.2rem 0;
  }
  &--bordered {
    border: 1px solid $color-border-soft;
  }
}

.dw-hint {
  font-size: 0.75rem;
  color: var(--dw-border-color);
  font-style: italic;
}

.dw-avatar {
  @include flex-center;

  img {
    max-width: 15rem;
    object-fit: cover;

    &:hover {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
  }
}

.dw-row {
  margin-bottom: 1rem;
}
