@use "common" as *;
@use "elements" as *;
@use "../components/abilities/abilities.scss" as *;
@use "../components/save-throws/save-throws.scss" as *;
@use "../components/health-points/health-points.scss" as *;
@use "../components/ac-attack/ac-attack.scss" as *;
@use "../components/player-data/player-data.scss" as *;
@use "../components/movement/movement.scss" as *;
@use "../components/skill-targets/skill-targets.scss" as *;
@use "../components/equipment/equipment.scss" as *;
@use "../components/other-notes/other-notes.scss" as *;
@use "../components/languages/languages.scss" as *;
@use "../components/kindred-class-traits/kindred-class-traits.scss" as *;
@use "../components/spells/spells.scss" as *;
@use "../components/ability-items/ability-items.scss" as *;

.dolmenwood.sheet.actor .window-content {
  overflow: visible;
}

.dolmenwood.sheet.actor.app.window-app {
  max-width: 45.5rem;
  min-width: 33rem;
}

@media (max-width: 780px) {
  .dolmenwood-sheet {
    &__tabs {
      position: static;
      flex-direction: row;
      transform: none;
    }

    &__tab {
      margin-left: 0;
    }

    &__tab + &__tab {
      margin-left: 0;
      margin-top: 0;
    }
  }
}

.dolmenwood-sheet {
  max-width: 45rem;
  display: flex;
  position: relative;

  &__layout {
    width: 100%;
    position: relative;
  }

  &__content {
    min-width: 0;
  }

  &__tab-panel {
    display: none;
  }

  &__tab-panel.is-active {
    display: block;
  }

  &__tabs {
    position: absolute;
    top: 23.5rem;
    right: -1.7rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0;
    background: transparent;
    z-index: 2;
    transform: rotate(90deg);
    transform-origin: top right;
  }

  &__tab {
    display: inline-flex;
    align-items: center;
    padding: 0 1rem 0;
    width: max-content;

    line-height: 1.2rem;
    background: url(/ui/parchment.jpg);
    border-top-left-radius: 0.8rem;
    border-top: 1px solid $color-text-dark-primary;
    border-left: 1px solid $color-text-dark-primary;
    font-size: $font-size-14;
    color: $color-text-dark-primary;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 3px -3px 4px 0px rgb(8 8 8 / 25%);
    filter: brightness(0.87);
    position: relative;
    z-index: 1;

    &.is-active {
      filter: brightness(1);
      z-index: 10;
    }
  }

  &__tab + &__tab {
    margin-left: 0;
  }
}
