@use "common" as *;
@use "elements" as *;
@use "../components/abilities/abilities.scss" as *;
@use "../components/save-throws/save-throws.scss" as *;
@use "../components/health-points/health-points.scss" as *;
@use "../components/ac-attack/ac-attack.scss" as *;
@use "../components/player-data/player-data.scss" as *;
@use "../components/movement/movement.scss" as *;
@use "../components/skill-targets/skill-targets.scss" as *;
@use "../components/equipment/equipment.scss" as *;

.dolmenwood-sheet {
  max-width: 45rem;
  display: flex;
  position: relative;

  &__layout {
    width: 100%;
    position: relative;
  }

  &__content {
    min-width: 0;
  }

  &__tab-panel {
    display: none;
  }

  &__tab-panel.is-active {
    display: block;
  }

  &__tabs {
    position: absolute;
    top: 0.75rem;
    right: -7rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background: transparent;
    z-index: 2;
  }

  &__tab {
    display: block;
    max-height: 35px;
    padding: 1px 10px 0;
    margin-left: -5px;
    text-indent: 4px;
    line-height: 16px;
    background: url(/ui/parchment.jpg);
    border-top-right-radius: 4px;
    border-top-left-radius: 80px;
    font-size: var(--font-size-12);
    color: $color-text-dark-primary;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    transform: rotate(90deg);
    filter: brightness(0.85);
    transform-origin: left top;
  }

  &__tab.is-active {
    filter: brightness(1);
  }
}

.dolmenwood.sheet.actor .window-content {
  overflow: visible;
}

@media (max-width: 780px) {
  .dolmenwood-sheet {
    &__tabs {
      position: static;
      flex-direction: row;
    }

    &__tab {
      margin-left: 0;
    }
  }
}
