@use "common" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

button {
  border: none;
  border-radius: 0;
}

input {
  @include input-base;
}

textarea {
  border: 1px solid $color-border-soft;
  background: none;
}

.dw-textarea {
  width: 100%;
  resize: vertical;
}

.dw-number-input {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.dw-roll {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 1.5rem;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  line-height: $line-height-20;
  border: 1px solid $color-border-main;
}

.dw-target {
  width: 2rem;
  max-width: 2rem;
  height: 1.5rem;
  padding: 0 0.15rem;
  text-align: center;
}

.dw-x,
.dw-plus {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 1;
  border: 1px solid $color-border-main;
}

.dw-x {
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
}

.dw-plus {
  width: 1.1rem;
  min-width: 1.1rem;
  height: 1.1rem;
}

hr {
  border: none;
  border-top: 1px solid $color-border-soft;
}

.dw-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.dw-grid-3 {
  display: grid;
  grid-template-columns: 1fr 65% 1fr;
  gap: 1rem;
}

.dw-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.dw-field {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;

  label {
    font-size: 0.75rem;
    color: $color-text-dark-2;
    text-transform: uppercase;
    padding-top: 0.2rem;
  }

  input {
    padding: 0.1rem;

    &.input {
      &--md {
        width: 3rem;
      }
      &--lg {
        width: 4rem;
      }
      &--xlg {
        width: 5rem;
      }
    }
  }

  &--inline {
    flex-direction: row;
    align-items: center;

    label {
      padding-right: 0.5rem;
      padding-top: 0;
    }
  }
}

.dw-header {
  padding: 1rem;
}

.dw-block {
  padding: 0.2rem 1rem;

  &--flat {
    padding: 0.2rem 0;
  }

  &--bordered {
    border: 1px solid $color-border-soft;
  }
}

.dw-hint {
  font-size: 0.75rem;
  color: $dw-border-color;
  font-style: italic;
}

.dw-avatar {
  @include flex-center;

  img {
    max-width: 13rem;
    object-fit: cover;

    &:hover {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }
  }
}

.dw-row {
  margin-bottom: 1rem;
}

[contenteditable] {
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #e7deca;
  background-image: url("/ui/parchment.jpg");
  background-repeat: repeat;
  border: 1px solid $color-border-soft;

  &:hover {
    border-color: $color-border-light-secondary;
  }

  &:focus {
    outline: none;
    border-color: $color-border-dark-secondary;
  }

  cursor: text;
}

.dw-editor {
  .editor,
  .editor-container {
    min-height: inherit;
  }

  .editor-content,
  .prosemirror {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid $color-border-soft;
    background-color: #e7deca;
    background-image: url("/ui/parchment.jpg");
    background-repeat: repeat;
  }

  .editor-content,
  .prosemirror,
  .editor-content * {
    word-break: break-word;

    p {
      margin: 0;
    }

    .toggle {
      background-image: url("/ui/parchment.jpg");
      background-repeat: repeat;
    }
  }
}

.dw-roll-card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  text-align: center;

  &__title {
    font-weight: 700;
    text-align: left;
    margin-bottom: 0.15rem;
  }

  &__status {
    font-weight: 700;
    line-height: 1.2;
    padding: 0.05rem 0;

    &--success {
      color: #1b6b1b;
    }

    &--fail {
      color: #8b1e1e;
    }
  }

  &__actions {
    margin-bottom: 0.4rem;
  }

  &__action-button {
    width: 100%;
    min-height: 1.6rem;
    border: 1px solid $color-border-soft;
    font-size: 0.8rem;
  }
}
