@use "../../styles/common" as *;

.dw-movement {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.1rem;

  &__title {
    margin: 0;
  }

  &__item {
    @include flex-start;
    flex-direction: row;
    gap: 0.5rem;

    h2 {
      margin: 0;
      border: none;
    }
  }

  &__label {
    font-weight: 500;
    font-size: 0.75rem;
    color: $dw-primary-color;
  }

  &__input {
    width: 100%;
  }
}
