@use "../../styles/common" as *;

.player-data {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: -1.2rem;

  .dw-field {
    position: relative;
    border-bottom: 1px solid $color-border-main;
    width: 100%;

    --player-field-padding-top: 0.9rem;
    --player-field-padding-bottom: 0.1rem;
    --player-field-line-height: 1.2;

    .edit-input {
      width: 100%;
      padding-top: var(--player-field-padding-top);
      padding-bottom: var(--player-field-padding-bottom);
      line-height: var(--player-field-line-height);
      min-height: calc(
        (1em * var(--player-field-line-height)) + var(--player-field-padding-top) +
          var(--player-field-padding-bottom)
      );
    }

    .editable-field {
      display: block;
      width: 100%;
      padding-top: var(--player-field-padding-top);
      padding-bottom: var(--player-field-padding-bottom);
      line-height: var(--player-field-line-height);
      min-height: calc(
        (1em * var(--player-field-line-height)) + var(--player-field-padding-top) +
          var(--player-field-padding-bottom)
      );
    }
  }

  &__name {
    .editable-field,
    .edit-input {
      font-size: 1.75rem;
      font-weight: 600;
    }
  }
}
