@use "../../styles/common" as *;

$player-field-padding-top: 0.9rem;
$player-field-padding-bottom: 0.1rem;
$player-field-line-height: 1.2;

.player-data {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: -1.2rem;

  .dw-field {
    position: relative;
    border-bottom: 1px solid $color-border-main;
    width: 100%;

    .player-data__input {
      padding-top: $player-field-padding-top;
      padding-bottom: $player-field-padding-bottom;
      line-height: $player-field-line-height;
      min-height: calc(
        (1em * $player-field-line-height) + $player-field-padding-top +
          $player-field-padding-bottom
      );
    }
  }

  &__name {
    .player-data__input {
      font-size: 1.75rem;
      font-weight: 600;
    }
  }
}