@use "../../styles/common" as *;

$player-field-padding-top: 0.9rem;
$player-field-padding-bottom: 0.1rem;
$player-field-line-height: 1.2;

.player-data {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: -1.2rem;

  .dw-field {
    position: relative;
    border-bottom: 1px solid $color-border-main;
    width: 100%;

    .player-data__input {
      padding-top: $player-field-padding-top;
      padding-bottom: $player-field-padding-bottom;
      line-height: $player-field-line-height;
      min-height: calc(
        (1em * $player-field-line-height) + $player-field-padding-top + $player-field-padding-bottom
      );
    }
  }

  .dw-field--optional {
    .player-data__input {
      padding-right: 2rem;
    }

    &:hover .player-data__hide,
    &:focus-within .player-data__hide {
      opacity: 1;
      pointer-events: auto;
    }

    &.is-hidden {
      order: 1;
      border-bottom: none;

      .player-data__optional-field {
        display: none;
      }

      .player-data__show {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition:
          opacity 500ms ease 0s,
          visibility 0s linear 500ms;
      }
    }

    &:not(.is-hidden) {
      .player-data__show {
        display: none;
      }
    }
  }

  &:hover .dw-field--optional.is-hidden .player-data__show,
  &:focus-within .dw-field--optional.is-hidden .player-data__show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition-delay: 500ms, 500ms;
  }

  &__name {
    .player-data__input {
      font-size: 1.75rem;
      font-weight: 600;
    }
  }

  &__hide {
    position: absolute;
    top: 50%;
    right: 0.1rem;
    transform: translateY(-50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border: 0;
    background: transparent;
    color: $color-text-dark-primary;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 120ms ease;
  }

  &__optional-field {
    width: 100%;
    position: relative;
  }

  &__show {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.45rem;
    width: 100%;
    padding-top: $player-field-padding-top;
    padding-bottom: $player-field-padding-bottom;
    padding-left: 0;
    padding-right: 0;
    border: 0;
    background: transparent;
    color: $color-text-dark-primary;
    cursor: pointer;
    text-align: left;
    line-height: $player-field-line-height;
  }

  &__show-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    font-size: 1.05rem;
    font-weight: 600;
  }
}
