@use "../../styles/common" as *;

.dw-ac-attack {
  @include flex-center;
  position: relative;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.1rem;
  border: none;
  border-left: 1px solid $color-border-soft;

  &__edit {
    @include flex-center;
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: transparent;
    cursor: pointer;

    i {
      font-size: 0.6rem;
      color: $color-text-dark-primary;
      opacity: 0.6;
      transition: opacity 0.15s ease-in-out;
    }
  }

  &:hover &__edit i {
    opacity: 1;
  }

  &__armor {
    @include flex-center;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;

    input {
      text-align: center;
      font-size: 2rem;
      padding: 0.3rem;
      height: 2rem;
    }
  }
  &__attack {
    @include flex-center;
    align-items: center;
    flex-direction: row;
    font-size: 0.75rem;
    text-align: center;
    input {
      text-align: center;
      font-size: 0.75rem;
      height: 1.2rem;
      width: 1.5rem;
    }

    button {
      @include flex-center;
      padding: 0.5rem 0.5rem;
      background:
        linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.08) 0%,
          rgba(255, 255, 255, 0) 45%,
          rgba(0, 0, 0, 0.12) 100%
        ),
        $color-text-dark-2;
      i {
        font-size: 0.75rem;
        color: $color-text-light-1;
      }
    }
  }
}

.dw-combat-bonuses-form {
  .dw-field {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
  }
}
