@use "../../styles/common" as *;

.dw-ac-attack {
  @include flex-center;
  position: relative;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.1rem;
  border: none;
  border-left: 1px solid $color-border-soft;

  &__armor {
    @include flex-center;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;

    input {
      text-align: center;
      font-size: 2rem;
      padding: 0.3rem;
      height: 2rem;
    }
  }

  &__attack {
    @include flex-center;
    align-items: center;
    flex-direction: row;
    gap: 0.4rem;
    font-size: 0.75rem;
    text-align: center;
  }

  &__attack-control {
    @include flex-center;
    flex-direction: row;
    gap: 0.2rem;

    input {
      text-align: center;
      font-size: 0.75rem;
      height: 1.2rem;
      width: 2ch;
      min-width: 2ch;
      padding: 0;
      line-height: 1;
    }

    button {
      @include flex-center;
      padding: 0.5rem 0.5rem;
      background:
        linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.08) 0%,
          rgba(255, 255, 255, 0) 45%,
          rgba(0, 0, 0, 0.12) 100%
        ),
        $color-text-dark-2;

      i {
        font-size: 0.75rem;
        color: $color-text-light-1;
      }
    }
  }
}
