<form class="dolmenwood" autocomplete="off">
    <header class="dw-header">
        <div class="dw-grid-2">
            <div class="dw-field">
                {{> player-data ctx=this}}
                
            </div>

            <div class="dw-field">
                {{> avatar ctx=this}}
            </div>
        </div>
    </header>

    <section class="dw-block">
        {{> abilities ctx=this}}
    </section>

    <section class="dw-block">
        <div class="dw-grid-3">
            <div>{{> health-points ctx=this}}</div>
            <div>{{> save-throws ctx=this}}</div>
            <div>{{> ac-attack ctx=this}}</div>
        </div>
    </section>

    <section class="dw-block">
        {{> movement ctx=this}}
    </section>

    <section class="dw-block">
        
    </section>

    <section class="dw-block">
        {{> skill-targets ctx=this}}
    </section>

    <section class="dw-block">
        {{> kindred-class-traits ctx=this}}
    </section>

    <section class="dw-block">
        {{> languages ctx=this}}
    </section>

    <section class="dw-block dw-xp-section">
        {{> xp-section ctx=this}}
    </section>
</form>
