<section class="dw-spells-abilities">
    <div class="dw-spells-abilities__section" data-dw-drop-kind="spell">
        {{~> spells ctx=ctx~}}
    </div>

    <hr class="dw-spells-abilities__divider" />

    <div class="dw-spells-abilities__section" data-dw-drop-kind="ability">
        {{~> ability-items ctx=ctx~}}
    </div>
</section>
