<form class="dolmenwood-sheet" autocomplete="off">
    <div class="dolmenwood-sheet__layout">
        <div class="dolmenwood-sheet__content">
            <div class="dolmenwood-sheet__tab-panel dolmenwood-sheet__main-tab is-active" data-tab-panel="main">
                {{> dolmenwood-main-tab ctx=this}}
            </div>

            <div class="dolmenwood-sheet__tab-panel dolmenwood-sheet__second-tab" data-tab-panel="second">
                {{> dolmenwood-second-tab ctx=this}}
            </div>

            <div class="dolmenwood-sheet__tab-panel dolmenwood-sheet__third-tab" data-tab-panel="third">
                {{> dolmenwood-third-tab ctx=this}}
            </div>
        </div>

        <div class="dolmenwood-sheet__tabs">
            <a href="#" class="dolmenwood-sheet__tab is-active" data-tab-target="main">Main</a>
            <a href="#" class="dolmenwood-sheet__tab" data-tab-target="second">Details</a>
            <a href="#" class="dolmenwood-sheet__tab" data-tab-target="third">Equipment</a>
        </div>
    </div>
</form>
