<form class="dolmenwood-sheet" autocomplete="off">
    <div class="dolmenwood-sheet__layout">
        <div class="dolmenwood-sheet__content">
            <div class="dolmenwood-sheet__tab-panel dolmenwood-sheet__main-tab is-active" data-tab-panel="main">
                {{~> dolmenwood-main-tab ctx=this~}}
            </div>

            <div class="dolmenwood-sheet__tab-panel dolmenwood-sheet__equipment-tab" data-tab-panel="equipment">
                {{~> dolmenwood-equipment-tab ctx=this~}}
            </div>

            <div class="dolmenwood-sheet__tab-panel dolmenwood-sheet__spells-abilities-tab" data-tab-panel="spells-abilities">
                {{~> dolmenwood-spells-abilities-tab ctx=this~}}
            </div>

            <div class="dolmenwood-sheet__tab-panel dolmenwood-sheet__details-tab" data-tab-panel="details">
                {{~> dolmenwood-details-tab ctx=this~}}
            </div>

        </div>

        <div class="dolmenwood-sheet__tabs">
            <a href="#" class="dolmenwood-sheet__tab is-active" data-tab-target="main">{{localize "DOLMENWOOD.UI.Main"}}</a>
            <a href="#" class="dolmenwood-sheet__tab" data-tab-target="equipment">{{localize "DOLMENWOOD.UI.Equipment"}}</a>
            <a href="#" class="dolmenwood-sheet__tab" data-tab-target="spells-abilities">{{localize "DOLMENWOOD.UI.SpellsAbilities"}}</a>
            <a href="#" class="dolmenwood-sheet__tab" data-tab-target="details">{{localize "DOLMENWOOD.UI.Details"}}</a>
        </div>
    </div>
</form>
