<section class="dw-block mt1">
    {{~> kindred-class-traits ctx=ctx~}}
</section>

<section class="dw-block">
    {{~> languages ctx=ctx~}}
</section>

<hr class="mt2" />

<section class="dw-block">
    {{~> other-notes ctx=ctx~}}
</section>

<hr class="mt3" />

<section class="dw-block dw-xp-section">
    {{~> xp-section ctx=ctx~}}
</section>