<section class="dw-block">
    {{> kindred-class-traits ctx=ctx}}
</section>

<section class="dw-block">
    {{> languages ctx=ctx}}
</section>

<section class="dw-block dw-xp-section">
    {{> xp-section ctx=ctx}}
</section>
