<form class="dolmenwood" autocomplete="off">
    <header class="dw-header">
        <div class="dw-row">
            {{> player-data ctx=this}}
        </div>

        <div class="dw-grid-2">
            <div class="dw-field">
                {{> health-points ctx=this}}
            </div>

            <div class="dw-field">
                {{> ac-attack ctx=this}}
            </div>

            <div class="dw-avatar">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            </div>
        </div>
    </header>

    <section class="dw-block">
        {{> movement ctx=this}}
    </section>

    <section class="dw-block">
        {{> abilities ctx=this}}
    </section>

    <section class="dw-block">
        {{> save-throws ctx=this}}
    </section>

    <section class="dw-block">
        {{> skill-targets ctx=this}}
    </section>

    <section class="dw-block">
        {{> kindred-class-traits ctx=this}}
    </section>

    <section class="dw-block">
        {{> languages ctx=this}}
    </section>
</form>
