@use "../../styles/common" as *;

.dw-other-notes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__header {
    h2 {
      margin: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &-editable {
    min-height: 100px;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.875rem;

    &:empty::before {
      content: attr(data-placeholder);
      color: #999;
      font-style: italic;
    }
  }
}
