<div class="dw-other-notes">

  <div class="dw-other-notes__header">
    <h2>{{localize "DOLMENWOOD.UI.OtherNotes"}}</h2>
  </div>

  <div class="dw-other-notes__content">
    <div class="dw-other-notes-editable contenteditable" contenteditable="plaintext-only" data-field="otherNotes">{{~ctx.dw.meta.otherNotes~}}</div>
  </div>
</div>