@use "../../styles/common" as *;

.dw-save-throws {
  .dw-block-head {
    text-align: center;
  }
  .dw-saves {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid $color-border-soft;
    padding-bottom: 0.5rem;
    gap: 0.2rem;

    .dw-save {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.2rem;
    }

    &__info {
      font-size: 0.65rem;
      word-wrap: break-word;
      padding-top: 0.2rem;
      text-align: center;
    }
  }
}
