@use "../../styles/common" as *;

.dw-save-throws {
  .dw-block-head {
    text-align: center;
  }
  .dw-saves {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid $color-border-soft;
    padding-bottom: 0.5rem;
    gap: 0.2rem;

    .dw-save {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.2rem;
      input {
        border: none;
        text-align: center;
      }
      button {
        font-size: 0.75rem;
        padding: 0;
        line-height: $line-height-20;
        border: 1px solid $color-border-main;
      }
    }

    &__info {
      font-size: 0.75rem;
      word-wrap: break-word;
      margin-bottom: 0.3rem;
      padding-top: 0.2rem;
    }
  }
}

