@use "../../styles/common" as *;

.dw-skills {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: 0.5rem;
  align-items: start;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    min-width: 0;
  }

  .dw-skill {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__name {
      min-width: 4.6rem;
    }

    &__extra {
      &__name {
        max-width: 4.6rem;
      }
    }
  }

  .dw-plus {
    align-self: start;
  }
}
