<div class="dw-block-head">
  <h3>{{localize "DOLMENWOOD.UI.Languages"}}</h3>
</div>
<div class="dw-languages-display">
  <div class="dw-languages-content">{{ctx.dw.meta.languages}}</div>
</div>
<textarea
  name="dw.meta.languages"
  rows="3"
  class="dw-languages-textarea"
  style="display: none;"
>{{ctx.dw.meta.languages}}</textarea>