.dw-abilities {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.1rem;
}
.dw-abilities__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid var(--color-border-light-highlight);
  border-radius: 4px;
}
.dw-abilities__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 0.2rem;
}
.dw-abilities__body {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.dw-abilities__label {
  font-weight: 300;
  font-size: 0.75rem;
  text-align: center;
  padding-bottom: 0.5rem;
}
.dw-abilities__input {
  background: none;
  border: none;
  text-align: center;
}
.dw-abilities__input--disabled {
  cursor: default;
}

.dw-saves {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.1rem;
}
.dw-saves .dw-save {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dw-saves .dw-save input {
  border: none;
  text-align: center;
}
.dw-saves__info {
  font-size: 0.75rem;
  word-wrap: break-word;
  margin-bottom: 1.2rem;
}

.dw-hp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem;
  border: 1px solid var(--color-border-light-1);
}
.dw-hp__current {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
}
.dw-hp__current input {
  border: none;
  text-align: center;
  font-size: 2rem;
  padding: 0.3rem;
  height: 2rem;
}
.dw-hp__max {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.75rem;
  text-align: center;
}
.dw-hp__max input {
  border: none;
  text-align: center;
  font-size: 0.75rem;
  height: 1.2rem;
}

.dw-ac-attack {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem;
  border: 1px solid var(--color-border-light-1);
}
.dw-ac-attack__armor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
}
.dw-ac-attack__armor input {
  border: none;
  text-align: center;
  font-size: 2rem;
  padding: 0.3rem;
  height: 2rem;
}
.dw-ac-attack__attack {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.75rem;
  text-align: center;
}
.dw-ac-attack__attack input {
  border: none;
  text-align: center;
  font-size: 0.75rem;
  height: 1.2rem;
  width: 1.5rem;
}

.dolmenwood {
  max-width: 45rem;
}

.dw-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.dw-grid-3 {
  display: grid;
  grid-template-columns: 1fr 65% 1fr;
  gap: 1rem;
}

.dw-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.dw-field {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.dw-field label {
  font-size: 0.75rem;
  color: var(--color-text-primary);
  font-weight: 500;
  text-transform: uppercase;
}
.dw-field input {
  border: none;
  border-bottom: 1px solid var(--color-text-dark-inactive);
  background: none;
  padding: 0.1rem;
}
.dw-field input[type=number]::-webkit-inner-spin-button, .dw-field input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dw-header {
  padding: 1rem;
}

.dw-block {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.dw-hint {
  font-size: 0.75rem;
  color: var(--dw-border-color);
  font-style: italic;
}

.dw-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dw-avatar img {
  max-width: 15rem;
  object-fit: cover;
}
.dw-avatar img:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.dw-movement {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.dw-move {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.dw-move .dw-label {
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--dw-primary-color);
}
.dw-move input {
  border: none;
  border-bottom: 1px solid var(--color-text-dark-inactive);
  background: none;
  width: 100%;
}

.dw-row {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=dolmenwood.css.map */
