<div class="dw-ac-attack">

  <div class="dw-ac-attack__armor">
    <label>AC</label>
    {{#if ctx.dwCombat.hasAc}}
      <input name="{{ctx.dwCombat.nameAc}}" type="number" value="{{ctx.dwCombat.ac}}" />
    {{else}}
      <input type="number" value="{{ctx.dwCombat.ac}}" disabled title="AC path not detected." />
    {{/if}}
  </div>

  <div class="dw-ac-attack__attack">
    <button class="attack-btn" data-attack="melee" title="Melee Attack">
      <i class="fas fa-sword"></i>
    </button>

    <button class="attack-btn" data-attack="ranged" title="Ranged Attack">
      <i class="fas fa-bow-arrow"></i>
    </button>
  </div>

</div>