<div class="dw-block-head">
    <h2>
        Kindred & Class Traits
        <button type="button" class="dw-edit-btn" data-action="dw-toggle-kindred-traits" title="Edit traits">
            Edit
        </button>
    </h2>
</div>
<div class="dw-languages-display">
    <div class="dw-languages-content">{{ctx.dw.meta.kindredClassTraits}}</div>
</div>
<textarea name="dw.meta.kindredClassTraits" class="dw-kindred-traits-textarea" rows="3" style="display: none;">{{ctx.dw.meta.kindredClassTraits}}</textarea>
