<div class="dw-block-head">
    <h2>
        Languages
        <button type="button" class="dw-edit-btn" data-action="dw-toggle-languages" title="Edit languages">
            Edit
        </button>
    </h2>
</div>
<div class="dw-languages-display">
    <div class="dw-languages-content">{{ctx.dw.meta.languages}}</div>
</div>
<textarea name="dw.meta.languages" rows="3" class="dw-languages-textarea" style="display: none;">{{ctx.dw.meta.languages}}</textarea>
