<div class="dw-block-head">
  <h2>Movement</h2>
  <div class="dw-hint">Movement rates (OSE / Dolmenwood).</div>
</div>

<div class="dw-movement">
  <div class="dw-move">
    <div class="dw-label">Speed</div>
    <input
      class="dw-target"
      name="dw.movement.speed"
      type="number"
      value="{{ctx.dw.movement.speed}}"
    />
  </div>

  <div class="dw-move">
    <div class="dw-label">Exploring</div>
    <input
      class="dw-target"
      name="dw.movement.exploring"
      type="number"
      value="{{ctx.dw.movement.exploring}}"
    />
  </div>

  <div class="dw-move">
    <div class="dw-label">Overland</div>
    <input
      class="dw-target"
      name="dw.movement.overland"
      type="number"
      value="{{ctx.dw.movement.overland}}"
    />
  </div>
</div>